<!DOCTYPE html>
<html>
<head>
  <title>Pubsubhubbub</title>
  <%= stylesheet_link_tag    "pubsubhubbub/application", media: "all" %>
  <%= javascript_include_tag "pubsubhubbub/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
